#app-container {
    box-shadow: 5px 10px black;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.container {
    background-color: bisque;
}

#btn {
    font-size: 15px;
}

#msg {
    height: 40px;
}