#app-container {
    box-shadow: 5px 10px black;
    margin: auto;
    width: 72%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-size: large;
    border-radius: 25px;
}
.container {
    background-color:antiquewhite;
    border-radius: 25px;
}

#btn {
    font-size: 15px;
}

#msg {
    height: 40px;
    font-size:medium;
}

#field {
    background-color:rgb(97, 255, 97);
}
#containerInfo{
    width: 85%;
}
